<h1><%= @ingredient.name() %></h1>

<form action="/ingredient_update/<%= @ingredient.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Change the name of this ingredient</label>
  <input type="text" name="name">

  <button class="btn btn-success"type="submit">Update</button>
</form>

<form action="/ingredient_delete/<%= @ingredient.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger"type="submit">Remove</button>
</form>

<h3>Below are all of the recipes that use <%= @ingredient.name() %>.</h3>
<ul>

  <% @ingredient_recipes.each() do |recipe| %>
    <li><%= recipe.name() %></li>
    <% end %>

</ul>
