
<h1> <%=@recipe.name() %></h1>

<h4>Ingredients</h4>
<ul>
  <% @my_ingredients.each() do |ingredient| %>
    <li><a href="/<%= @recipe.id()%>/ingredient/<%= ingredient.id()%>"><%= ingredient.name() %></a></li>
  <% end %>
</ul>
<h4>Tags</h4>
<ul>
  <% if @my_tags.any?() %>
  <% @my_tags.each() do |tag| %>

    <li><a href="/<%= @recipe.id()%>/tag/<%= tag.id()%>"><%= tag.name() %></a></li>
    <% end %>
  <% end %>
</ul>
<h4>Instructions</h4>

  <p><%= @recipe.instruction() %></p>


<div class="panel-success">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>Update Form</h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
    <form action="/add_ingredient/<%= @recipe.id() %>" method="post">
      <input name="_method" type="hidden" value="patch">


        <div class="col-md-4">
          <h5>Ingredients</h5>
          <% @ingredients.each() do |ingredient| %>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="ingredient_ids[]" value="<%= ingredient.id() %>"><%= ingredient.name()%>

                <input type="number" name="quantities" placeholder="quantity">
                <input type="text" name="measurements" placeholder="measurement">
              </label>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <h5>Tags</h5>
          <% @tags.each() do |tag| %>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="tag_ids[]" value="<%= tag.id() %>"><%= tag.name()%>
              </label>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <label for="instructions"><h5>Instructions</h5></label>
          <textarea class="form-control" rows="5" name="instructions"></textarea>
        </div>

      <div class="btn-group">
          <button class="btn btn-success" type="submit">Update Recipe</button>
        </div>
    </form>
  </div>
</div>
</div>


<br>
<form action="/recipe_delete/<%= @recipe.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">Remove Recipe</button>
</form>
